@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MinionPro";
  src: url("./assets/fonts/Minion Pro Regular.ttf");
}

@font-face {
  font-family: "DorisPP";
  src: url("./assets/fonts/Doris\ PP.ttf");
}
